audit=false
fund=false
progress=false
prefer-offline=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=120000
legacy-peer-deps=false
engine-strict=false
